  /* styles.css */
  :root {
    --background-color: white;
    --text-color: black;
  }

  body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.0s, color 0.0s;
  }

  body.night-mode {
    --background-color: black;
    --text-color: white;
  }

  #liveChart {
    height: 40%;
    margin: 3;
    max-height: 400px;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Additional custom styles if needed */
  /* .carousel-item {
    padding: 3%;
  }

  .card {
    width: 300px;
    /* Adjust width as needed */